body {
  font-size: 10px;
  background: rgb(51, 153, 102);
}

a {
  text-decoration: none;
}

.thumbnail-list{
  list-style: none;
  padding: 0;
}

.thumbnail-title {
  background: rgb(59,118,102);
  color: rgb(255, 255, 255);
  display: block;
  margin: 0;
  padding: 4px 10px;
  font-size: 18px;
}

.thumbnail-item{
  display: block;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-item + .thumbnail-item{
  margin-top: 10px;
}

.thumbnail-image{
  width: 100%;
  display: block;
}

.logo-text{
  color: rgb(255,255,255);
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 37px;
}
