@font-face {
  font-family: "lexi";
  src: url('fonts/lexi/Lexi.otf');
  font-weight: normal;
  font-style: normal;
}

html,body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  background: rgb(51, 153, 102);
}

a {
  text-decoration: none;
}

.thumbnail-list{
  display: flex;
  flex : 0 1 auto;
  order: 2;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.thumbnail-title {
  background: rgb(59,118,102);
  color: rgb(255, 255, 255);
  display: block;
  margin: 0;
  padding: 4px 10px;
  font-size: 18px;
}

.thumbnail-item{
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}


.thumbnail-image{
  width: 100%;
  display: block;
}

.logo-text{
  background-color: rgb(255,255,255);
  color: black;
  text-align: center;
  font-size: 56px;
  font-family: lexi;
}

.detail-image{
  width: 90%;
}
 .detail-image-title{
   font-size: 12px;
 }

 .detail-image-container{
   flex: 1 1 auto;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .detail-image-frame{
   text-align: center;
 }

.main-header{
  flex: 0 1 auto;
}

.main-content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
